name: Build and Deploy AzureServiceTags

on:
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
    # Prepare
    - name: Check out repository
      uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x'
    - name: Azure Login
      uses: Azure/login@v1
      with:
        client-id: 'a96f7b48-548a-4083-8a8a-69440bdc0a4b'
        tenant-id: 'bfcb8d36-2e08-4142-908c-27eb5be24938'
        subscription-id: '6c198425-f933-458f-a8f2-951a4c981997'
    # Build
    - name: Determine version
      run: echo "APP_VERSION=$(date +'%Y.%m.%d').$GITHUB_RUN_NUMBER" >> $GITHUB_ENV
    - name: Install dependencies
      run: dotnet restore "AzureServiceTags.WebApp/AzureServiceTags.WebApp.csproj"
    - name: Build
      run: dotnet build "AzureServiceTags.WebApp/AzureServiceTags.WebApp.csproj" --configuration Release --no-restore /p:Version=${{ env.APP_VERSION }} /p:SourceRevisionId=$GITHUB_SHA
    # Deploy
    - name: Publish AzureServiceTags.WebApp
      run: dotnet publish "AzureServiceTags.WebApp/AzureServiceTags.WebApp.csproj" --configuration Release --no-build --output "./packages/AzureServiceTags.WebApp"
    - name: Deploy AzureServiceTags.WebApp
      uses: Azure/webapps-deploy@v2
      with:
        app-name: azservicetags
        package: "./packages/AzureServiceTags.WebApp"
